<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>WELCOME BACK ,<%= username %></h1>
    <div class="main-container">
      <div class="todo-list">
        To do
        <ul id="myUL">
          <li>Hit the gym</li>
          <li class="checked">Pay bills</li>
          <li>Meet George</li>
          <li>Buy eggs</li>
          <li>Read a book</li>
          <li>Organize office</li>
        </ul>
      </div>
      <div class="right-container">
        <div class="progress-tracker">progress slider</div>
        <div class="calender">calender</div>
      </div>
    </div>

    <script></script>
  </body>
</html>
