body {
  background-color: #222831;
  color: white;
}
@font-face {
  font-family: "Sequel100Black-96";
  src: url("../fonts/sequel-100-black-96.ttf");
}
@font-face {
  font-family: "Jet-Brains";
  src: url("../fonts/JetBrainsMonoNL-Bold.ttf");
}

h1 {
  font-family: Jet-Brains;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}
h2 {
  font-family: Jet-Brains;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-left: 10px;
}

.todo-list {
  margin-top: 50px;
  font-family: Jet-Brains;
  background-color: #393e46;
  width: 20%;
  border-radius: 20px;
  height: 40vh;
  margin: 20px;
  padding-top: 10px;
}

.todo-list {
  max-width: 600px;
  margin: 20px auto;
  background-color: #393e46;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 409px; /* Fixed height for the container */
  position: relative;
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px; /* Space between list and input/button */
  flex-grow: 1; /* Allow list to grow and take remaining space */
  overflow-y: auto; /* Enable scrolling for overflow */
}

li {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"] {
  width: calc(100% - 150px);
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  background-color: #222831;
  color: white;
  bottom: 20px; /* Position input at the bottom */
  left: 20px;
}

button {
  padding: 8px 16px;
  background-color: #222831;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 20px; /* Position button at the bottom */
  right: 20px;
}

button:hover {
  background-color: #43464b;
}
a {
  color: #00adb5;
  text-decoration: none;
}
.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  border: 3px solid rgb(255, 239, 94);
  background-color: rgb(255, 239, 94);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  border-radius: 0px;
}

.text {
  width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
}

.arrow path {
  fill: rgb(19, 19, 19);
}

.button:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.button:active {
  transform: scale(0.97);
}
