body{
    background-color: #222831;
}
input[type="radio"] {
    display: none;
}
  
  /* Style for custom radio button container */
label {
    position: relative;
    padding-right: 3vh; /* Adjust spacing between text and border */
    padding-left: 3vh;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
  
  /* Style for custom radio button */
input[type="radio"] + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15vh; /* Width of the radio button */
    height: 7vh; /* Height of the radio button */
}
  

input[type="radio"]:checked + label:before {
    border-radius:40px; 
}
  
  /* Style for label text */
label {
    font-size: 14px;
    color: #333;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(67, 66, 66);
    border-radius: 20px;
    width:130vh;
    margin-left: 20%;

}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(67, 66, 66);
    border-radius: 20px;
}
.flex > div{
    height:30px;
    width: 50;
    border-radius: 10px;
    background-color: white;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 8vh;
    color: black;
    padding: 5px;
    transform: translateX(20px);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.flex > button{
    height:30px;
    width:30px;
    border-radius: 5px;
    margin-top: 1vh;
    margin-right: 0;
}
.img{
    height:130px;
    width:150px;
    margin-top: 80px;
    margin-right: 300px;
    margin-bottom: 200px;

}
img{
    border-radius: 25px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.options > button{
    margin-left: 10px;
}
h1{
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}
