@font-face {
  font-family: "Jet-Brains";
  src: url("../fonts/JetBrainsMonoNL-Bold.ttf");
}
body {
  background-color: #222831;
  color: white;
  font-family: "Jet-Brains";
}
.main-container {
  font-size: 25px;
  background-color: #393e46;
  margin: 50px;
  border-radius: 20px;
  padding: 20px;
}
h2 > span {
  font-size: 10px;
  display: block;
  text-align: left;
  margin-top: 10px;
}
.main-container > h2 {
  font-size: 20px;
}

.inputwaala {
  background-color: #222831;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  height: 50px;
  width: 50%;
  margin-bottom: 0px;
  color: white;
  padding: 10px;
}
.buttonwaala {
  border: 1px solid white;
  background-color: #222831;
  width: 51%;
  color: white;
  height: 40px;
  margin-top: 0px;
}
button :hover {
  border: 1px solid #222831;
}

.button {
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  border: 3px solid rgb(255, 239, 94);
  background-color: rgb(255, 239, 94);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  position: absolute;
  bottom: 20px; /* Position button at the bottom */
  right: 20px;
}

.text {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
}

.arrow path {
  fill: rgb(19, 19, 19);
}

.button:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.button:active {
  transform: scale(0.97);
}
a {
  color: #00adb5;
  text-decoration: none;
}
