@font-face {
  font-family: "Jet-Brains";
  src: url("../fonts/JetBrainsMonoNL-Bold.ttf");
}
body {
  background-color: #222831;
  font-family: Jet-Brains;
  color: white;
}
iframe {
  color: white;
  border-radius: 20px;
  margin-left: 30px;
}

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}
.main {
  display: flex;
  flex-direction: row;
}

.notes {
  position: absolute;
  right: 50px;
  background-color: #393e46;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

.note-text {
  width: calc(100% - 22px);
  height: 100px;
  margin-bottom: 10px;
}

.note-list {
  width: 300px;

  list-style-type: none;
  padding: 0;
}

.note-list li {
  margin-bottom: 5px;
  word-wrap: break-word;
  max-width: calc(100% - 20px);
}
button {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 80%;
  background-color: #222831;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
}
